services:
    php-sdk:
        image: hanabosocom/php-dev:php-8.4-alpine
        user: ${DEV_UID}:${DEV_GID}
        working_dir: /var/www
        volumes:
            - ./:/var/www:cached
            - ${HOME}/dev/.composer:${HOME}/dev/.composer:cached
        environment:
            APP_DEBUG: 1
            APP_ENV: 'dev'
            PHP_WEBROOT: '/var/www/public'
            COMPOSER_HOME: ${HOME}/dev/.composer
            KERNEL_CLASS: 'Pipes\PhpSdk\Kernel'
            BACKEND_DSN: '127.0.0.10:8080'
            STARTING_POINT_DSN: '127.0.0.10:8080'
            WORKER_API_HOST: '127.0.0.10:8080'
            ORCHESTY_API_KEY: 'ThisIsNotSoSecretApiKey'
