includes:
    - vendor/hanaboso/php-check-utils/phpstan.neon

parameters:
    doctrine:
        objectManagerLoader: tests/DocumentManagerLoader.php
    symfony:
        container_xml_path: %rootDir%/../../../var/cache/test/Pipes_PhpSdk_KernelTestDebugContainer.xml
