includes:
    - ./vendor/hanaboso/php-check-utils/phpstan.neon

parameters:
    doctrine:
        objectManagerLoader: tests/DocumentManagerLoader.php
    symfony:
        container_xml_path: %rootDir%/../../../var/cache/test/Pipes_PhpSdk_KernelTestDebugContainer.xml
    ergebnis:
        classesAllowedToBeExtended:
            - Pipes\PhpSdk\Connector\HubSpot\HubSpotCreateContactAbstract
            - Hanaboso\PipesPhpSdk\Authorization\Base\Basic\BasicApplicationAbstract
            - Hanaboso\PipesPhpSdk\Authorization\Base\OAuth1\OAuth1ApplicationAbstract
            - Hanaboso\PipesPhpSdk\Authorization\Base\OAuth2\OAuth2ApplicationAbstract
            - Hanaboso\PipesPhpSdk\CustomNode\CommonNodeAbstract
            - Hanaboso\PipesPhpSdk\Batch\BatchAbstract
            - Hanaboso\PipesPhpSdk\Connector\ConnectorAbstract
            - Pipes\PhpSdk\Tests\KernelTestCaseAbstract
            - Pipes\PhpSdk\Tests\DatabaseTestCaseAbstract
            - Pipes\PhpSdk\Tests\ControllerTestCaseAbstract
