VERSION=2.0.0

DEV_IP=127.0.0.10
DEV_UID={DEV_UID}
DEV_GID={DEV_GID}

BACKEND_URL=http://127.0.0.10:8080
FRONTEND_URL=http://127.0.0.10
STARTING_POINT_DSN=starting-point:8080
WORKER_API_HOST=worker-api:8080
UDP_LOGGER_DSN=fluentd:5120
TCP_LOGGER_DSN=fluentd:9880
DOCKER_SOCKET_PATH={DOCKER_SOCKET_PATH}
PROJECT_SOURCE_PATH={PROJECT_SOURCE_PATH}

PLATFORM=compose
NETWORK_NAME=tutorial_default
MAIN_DB=tutorial
RABBITMQ_DSN=amqp://rabbitmq:5672
MONGO_DSN=mongodb://mongo/tutorial
METRICS_DSN=mongodb://mongo/metrics

JWT_KEY=______________________________ThisIsNotSoSecretKey______________________________
CRYPT_SECRET=ThisIsNotSoSecret
ORCHESTY_API_KEY={ORCHESTY_API_KEY}
