# IDEs
.idea
*.DS_Store

# Node.js
nodejs-sdk/coverage
nodejs-sdk/node_modules
nodejs-sdk/.pnpm-store
nodejs-sdk/dist

# PHP
php-sdk/vendor
php-sdk/var

# PIPES
.env
*/docker-compose.mutagen.yml
docker-compose.mutagen.yml
topology/*
!topology/.gitkeep
